# Database
DB_PASSWORD=your_secure_db_password
DATABASE_URL=postgresql://analyzer:your_secure_db_password@postgres:5432/chat_analyzer

# Telegram Bot
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
CHAT_PER_PAGE=5

# Ollama
OLLAMA_BASE_URL=http://host.docker.internal:11434
OLLAMA_LLM_MODEL=MODEL_NAME
OLLAMA_EMBEDDING_MODEL=nomic-embed-text

# LLM Provider Settings
LLM_PROVIDER=ollama
EMBEDDING_PROVIDER=nomic
LLM_TEMPERATURE=0.1
#GEMMA3_MODEL_SIZE=27b

# Application Settings
LOG_LEVEL=INFO
MONITOR_INTERVAL=300
LLM_CONTEXT_SIZE=4096
LLM_MAX_TOKENS=2048

#Celery
CELERY_BROKER_URL=redis://:secure_redis_password@localhost:6379/0
CELERY_RESULT_BACKEND=redis://:secure_redis_password@localhost:6379/0
CELERY_POOL_TYPE=threads  # или gevent
CELERY_CONCURRENCY=10
TASK_MONITOR_INTERVAL=3.0

#Database Redis
REDIS_PASSWORD=secure_redis_password
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_URL=redis://:secure_redis_password@localhost:6379/0
REDIS_MAXMEMORY=256mb
REDIS_MAXMEMORY_POLICY=allkeys-lru
REDIS_KEY_EXPIRATION=86400